body {
	background-image: url(../images/london2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	font-family: Helvetica, Arial, sans-serif;

}

.main {
	width: 500px;
	
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.7);
	
}

h1{

	text-align: center;
	letter-spacing: 5px;
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	font-weight: 400;

}
h2 {
	text-transform: ;
	text-align: center;
	letter-spacing: 10px;
	font-family: 'Pacifico', cursive;
	font-size: smaller;
}
h3 {
	text-transform: uppercase;
	
}
/*this is the image style*/
img {
	margin: 0 auto;
	display: block;
	width: 200px;
	border: 5px dashed #696969;
	border-radius: 50%;
}
p,
ul,
ol {
	line-height: 1.4;
	list-style: none;
	padding-left: 0;
	

}

a{
	text-decoration: none;
	font-weight: bold;
	color: #fe0099;

}
a:focus,
a:hover {
	text-decoration: underline;
	color: #ff33cc;
}